@model User
@if (ViewData["Error"] != null)
{
    <p class="error">Password Incorect <br />Please try agian</p>
}
<h2>Enter the password for @Model.Username to edit profile</h2>
<form method="post" action="/users/@Model.Id/editcheck">
    <label for="Password">Password: </label>
    <input type="text" id="Password" name="password" requred />
    <button type="submit">Enter Password</button>
</form>